#university / institution deploying this instance
#these values provide defaults for getting the system primed

#domains used for elmsln.
courses_domain=courses.elmsln
courses_service_domain=data.courses.elmsln
media_domain=media.elmsln
media_service_domain=data.media.elmsln
online_domain=online.elmsln
online_service_domain=data.online.elmsln

university='vagrant'
host='vu'
emailending='elmsln.test'
address='elmsln'
serviceaddress='elmsln'
protocol="http"
#email that the site uses to send mail
site_email=admin@elmsln.test
#administrator e-mail or alias
admin=admin@elmsln.test

#where is elmsln?
elmsln=/var/www/elmsln
#database superuser credentials
dbsu=root
dbsupw=986107L4R3a2T5uicsOy
#www user, what does apache run as?
wwwuser=root
#webgroup, if sharing with other developers else leave root
webgroup=root

#comment out the following if you plan to use SSO
send_requester_pw=yes

#these vars shouldn't need changing if $elmsln is set properly
webdir=$elmsln/domains
#jobs location where job files write to
fileloc=$elmsln/config/jobs
#hosts to allow split groups of elmsln based on college / group
hostfile=$elmsln/config/scripts/drush-create-site/hosts
#compiled drupal "stacks"
stacks=$elmsln/core/dslmcode/stacks
#location of drupal private files
drupal_priv=$elmsln/config/private_files
#configsdir
configsdir=$elmsln/config
